body {
  background-color: #e8e8e8;
  font-family: 'Roboto Condensed', sans-serif;
}
button {
  font-family: 'Roboto Condensed', sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
button:focus {
  outline: 0;
}
